<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz Template</title>

    <!-- Scripts -->
    <script type="text/javascript" src="scripts/index.js"></script>
    <link rel="stylesheet" href="stylesheets/index.css" />
  </head>
  <body>
    <div id="startPage" class="container">
        <h1>Quiz Title</h1>

        <img src="assets/images/ditto.png">
        <button type="button" id="startButton" onclick="startQuiz()">Start!</button>
    </div>

    <div id="quizPage" class="container hidden">
        <h1 id="question"></h1>
        <button id="answerButton1" onclick="nextQuestion()"></button>
        <button id="answerButton2" onclick="nextQuestion()"></button>
    </div>

    <div id="resultsPage" class="container hidden">
      <h1 id="result">You are ___!</h1>
  </div>
  </body>
</html>